<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Various projects without the dependency hassle</h1>
                <h5>Keep It Simple</h5>
                <h5>For real</h5>				
            </div>
            <!--
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/browser.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>
            -->
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
